<!DOCTYPE html>
<html>
<head>
  <title>RequirejsRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= requirejs_include_tag("application_1/main").gsub("/assets/application_1/main", "application_1/main").html_safe %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
